Repository hasnainmakada-99/Open-Source-With-Hasnain, pull requests merged in 2023-10, with the labels that each got.

#171 Added Javascript resource to web development
  pages/web-development-resources.md
Labels: new-resources

#179 added resource for open source
  pages/open-source-resources.md
Labels: new-resources

#181 Update AI-resources.md
  pages/AI-resources.md
Labels: new-resources

#184 Json resources Added with Web_Development.json
  Resources/Web_Development.json
Labels: good first issue, hacktoberfest-accepted, Designing, hacktoberfest

#190 Fixed the alignment and position of navbar(in mobile viewport) and theme change button
  styles/custom.css
Labels: good first issue, hacktoberfest-accepted, Designing

#185 Update web-development-resources.md
  pages/web-development-resources.md
Labels: new-resources

#194 Updated web-development-resources.md
  pages/web-development-resources.md
Labels: new-resources

#186 Update react-resources.md
  pages/react-resources.md
Labels: new-resources

#201 Update sidebar.md
  _layouts/sidebar.md
Labels: hacktoberfest-accepted, sidebar-update, hacktoberfest
